:root {
    --space-small: 0.5vw;
    --space-medium: 1vw;    
    --space-large: 2vw;
}


* {
    max-width: 100vw;
    border: solid 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation  {
    display: flex;
    font-size: clamp(16pt, 1.5vw, 30pt);
    padding: var(--space-small) var(--space-medium);
    min-height: 50px;
    max-height: 100%;
    gap: var(--space-medium);
}

.navigation--top {
    justify-content: space-between;
}


.standard-spacing {
    margin: var(--space-small);
    padding: var(--space-small) var(--space-medium);
}

.major-spacing {
    margin: var(--space-medium);
    padding: var(--space-large);
}

.main-text {
    font-size: clamp(16pt, 3vw, 50pt);
    text-align: center;
    margin: var(--space-large) auto;
}

.subheading-text {
    font-size: clamp(14pt, 2vw, 24pt);
    text-align: left;
    margin: var(--space-medium) auto;
}

.subheading-text--alt {
    font-size: clamp(14pt, 2vw, 24pt);
    text-align: center;
    margin: var(--space-medium) auto;
    text-decoration: underline;
}


.hero {
        position: relative;
        width: 100%;
        height: clamp(600px, 90vh, 800px);
        display: block; 
    }


.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}


@media all and (max-width: 1000px) {
  .content-box {
    grid-template-columns: 1fr;
  }
}

.casestudy-box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.content-box > * ,
.casestudy-box > * {
    width: 100%;
    box-sizing: border-box;

    min-width: 0;
}

.casestudy {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: clamp(16pt, 2vw, 40pt);         
}

.project-box {
    display: grid;        
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0 auto;
    padding-inline: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.biography {
    max-width: 1000px;
    font-size: clamp(16pt, 1.5vw, 30pt);
}
