:root {
  --space-small: 0.5vw;
  --space-medium: 1vw;
  --space-large: 2vw;

  --accent-color: #ff6f61;
  --base-color: #000000;
}

* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  
}

.button:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.navigation {
  display: flex;
  font-size: clamp(16pt, 1.5vw, 30pt);
  padding: var(--space-small) var(--space-medium);
  min-height: 50px;
  max-height: 100%;
  gap: var(--space-medium);
}

.navigation--top {
  justify-content: space-between;
}

.standard-spacing {
  margin: var(--space-small);
  padding: var(--space-small) var(--space-medium);
}

.major-spacing {
  margin: var(--space-medium);
  padding: var(--space-large);
}

.main-text {
  font-size: clamp(16pt, 3.5vw, 50pt);
  text-align: center;
  margin: var(--space-large) auto;
}

.subheading-text {
  font-size: clamp(14pt, 2vw, 24pt);
  text-align: left;
  margin: var(--space-medium) auto;
}

.subheading-text--alt {
  font-size: clamp(14pt, 2vw, 24pt);
  text-align: center;
  margin: var(--space-medium) auto;
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 100%;
  height: clamp(600px, 90vh, 800px);
  display: block;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.framed-img {
  object-fit: cover;
  width: 100%;
}

.slidein {
  border: solid 2px var(--base-color);
  opacity: 0;
  transform: translateX(100%);
  transition:
    opacity 0.3s ease,
    transform 0.5s ease;
}

.casestudy:hover .framed-img {
  opacity: 1;
  transform: translateX(0);
}

.content-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}

@media all and (max-width: 1000px) {
  .content-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 700px) {
  .content-box {
    grid-template-columns: 1fr;
  }
}

.casestudy-box {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.hero-image-box {
  width: 80%;
  aspect-ratio: 2 / 1;
  min-height: 600px;
  max-width: 1800px;
  margin: 0 auto;
  padding-inline: 1rem;
  display: grid;
  border: solid 2px var(--base-color);
}

.content-box > *,
.casestudy-box > * {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.casestudy {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  width: 100%;
  height: 10vw;
  min-height: 80px;
  font-size: clamp(16pt, 2vw, 40pt);
  border: solid 2px var(--base-color);
  align-items: center;
}
.project-box {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 1fr;
  border: solid 2px var(--base-color);
  align-items: center;
  justify-items: center;
  transition: background-color 0.3s ease;
  position: relative;
}

.project-box img {
  transition: opacity 0.3s ease;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
}

.project-box:hover img {
  opacity: 0;
}

.project-box p {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  width: 100%;
  text-align: center;
}

#extras {
  border: none;
}

#extras:hover {
  background-color: transparent;
}

.project-box:hover {
  background-color: var(--accent-color);
}

.project-box:hover p {
  opacity: 1;
}

.biography {
  max-width: 1000px;
  font-size: clamp(16pt, 1.5vw, 30pt);
  list-style-type: none;
}

#asterisk {
  width: 40px;
  height: 40px;
}

#asterisk.large-logo {
  width: 180px;
  height: 180px;
}

#asterisk:hover {
  fill: var(--accent-color);
}
