:root {
  --space-small: 0.5vw;
  --space-medium: 1vw;
  --space-large: 2vw;

  --accent-color: #A2574F;
  --base-color: #000080;
  --bg-color: #fbf7f5;
}

* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: var(--bg-color);
  color: var(--base-color);
}



a {
  text-decoration: none;
  color: inherit;
  
}

.button:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.navigation {
  display: flex;
  font-size: clamp(16pt, 1.5vw, 30pt);
  padding: var(--space-small) var(--space-medium);
  min-height: 50px;
  max-height: 100%;
  gap: var(--space-medium);
  justify-content: space-between;
  align-items: center;
}

.standard-spacing {
  margin: var(--space-small);
  padding: var(--space-small) var(--space-medium);
}

.major-spacing {
  margin: var(--space-medium);
  padding: var(--space-large);
}

.main-text {
  font-size: clamp(16pt, 3.5vw, 50pt);
  text-align: center;
  margin: var(--space-large) auto;
}

.subheading-text {
  font-size: clamp(12pt, 2vw, 24pt);
  text-align: left;
  margin: var(--space-medium) auto;
}

.subheading-text--alt {
  font-size: clamp(14pt, 2vw, 24pt);
  text-align: center;
  margin: var(--space-medium) auto;
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 100%;
  height: clamp(600px, 90vh, 800px);
  display: block;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.framed-img {
  object-fit: cover;
  width: 100%;
}

.slidein {
  border-left: solid 2px var(--base-color);
  opacity: 0;
  transform: translateX(100%);
  transition:
    opacity 0.3s ease,
    transform 0.5s ease;
}

.casestudy:hover .framed-img {
  opacity: 1;
  transform: translateX(0);
}

.content-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}

@media all and (max-width: 1000px) {
  .content-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 700px) {
  .content-box {
    grid-template-columns: 1fr;
  }
}

.casestudy-box {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.hero-image-box {
  width: 80%;
  aspect-ratio: 4 / 1;
  min-height: 600px;
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  border: solid 2px var(--base-color);
}

.content-box > *,
.casestudy-box > * {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.casestudy {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  width: 100%;
  height: 10vw;
  min-height: 80px;
  font-size: clamp(100%, 2vw, 40pt);
  border: solid 2px var(--base-color);
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
}


.project-box {
  display: grid;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 1fr;
  border: solid 2px var(--base-color);
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;


}

.project-box img {
  transition: opacity 0.3s ease;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  height: 100%;
}

.project-box p {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  width: 100%;
  text-align: center;
}

#extras {
  border: none;
}


.click-projects > a:hover {
  background-color: var(--accent-color);
}

.click-projects > a#extras:hover {
  background-color: transparent;
}

.click-projects > a:hover p {
  opacity: 1;
}

.click-projects > a:hover img {
  opacity: 0;
}


.body-text {
  max-width: 1000px;
  font-size: clamp(16pt, 1.5vw, 30pt);
  list-style-type: none;
}

.asterisk {
  fill: var(--base-color);
  min-width: 40px;
  min-height: 40px;
  height: 5vw;
}

.asterisk.large-logo {
  width: 180px;
  height: 180px;
}

.asterisk:hover {
  fill: var(--accent-color);
}


.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 24, 25, 0.733);
    margin-top: -1px;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal img {
    width: 80%;
    object-fit: contain;
    padding: 40px;
    max-height: 90vh;
}

@media all and (max-width: 1000px) {
  .modal img {
    width: 100%;
    padding: 20px;
  }
}


.closeBtn {
    color: white;
    background-color: transparent;
    font-size: 3vw;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    outline: none;
}

.closeBtn:hover {
    color: var(--accent-color);
}

@media all and (max-width: 800px) {
  .closeBtn {
    font-size: 12vw;
  }
}